#menu a {
	margin-right: 5px;
	margin-left:  5px;
	/*font: 16px Helvetica;*/
}

/*.w3-theme {color:#fff !important;background-color:#ff9800 !important;}*/
.w3-theme {color:#fff !important;background-color:#F44336 !important}
